.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  background-color:#0077dd;
  color: white;

}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container{

  max-width: 1200px;
  margin: 0 auto;
}
